* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.item {
    width: 300px;
    min-height: 200px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
   background-color: rgba(255, 72, 6, 0.539);
   transition: all 0.3s ease;
}


.item:hover {
    background-color: rgba(190, 57, 9, 0.689);
     transform: scale(1.05);
}


.loading {
    text-align: center;
    font-weight: bold;
}