* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 50px;
  background-image: url('weather.webp');
  background-size: cover;
  overflow: hidden;
}

.list {
  background: rgba(244, 255, 175, 0.578);
  padding: 30px;
  border-radius: 20px;
  width: 620px;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.btn {
  padding: 10px 15px;
  border: none;
  background: #647d08;
  color: white;
  border-radius: 10px;
  transition: 0.3s;
}

.btn:hover {
  background: #476504;
}

.card {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
}

.card h2 {
  margin-bottom: 10px;
  color: #545704;
}

.degree {
  font-size: 24px;
  font-weight: 800px;
  color: #424605;
}


