.list {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border : 2px solid black;
}

.list-item {
    width: 220px;
    background-color: #deb887;
    border-radius: 12px;
    padding: 15px;
    transition: transform 0.2s; 
}

.list-item:hover {
    transform: scale(1.03);
    background-color: #d2a679;
}

.list-item h1 {
    font-size: 18px;
    margin-bottom: 8px;
}